In [1]:
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
from networkx.algorithms import bipartite
import pandas as pd

In [15]:
USER = 'user'
BIZ = 'biz'

def degree(g, nodes=None, as_list=True):
    deg = None
    if nodes:
        deg = dict(g.degree(nodes))
    else:
        deg = dict(g.degree())
    
    if as_list:
        return list(deg.values())
    return deg

def degree_plot(g, nodes, title=''):
    deg = degree(g, nodes)
    bins = 100
    if len(nodes) < 100:
        bins = len(nodes)
    hist = np.histogram(deg, bins=bins)
    v = range(min(deg), max(deg)+1)
    freqs, edges = hist[0], hist[1]
    n = freqs.size
    means = [(edges[i] + edges[i+1]) / 2 for i in range(n)]
    
    # SCATTER PLOT
    plt.plot(means, freqs, ".")
    plt.xlabel("k")
    plt.ylabel("frequency")
    plt.title("Degree distribution for %s" % title)
    plt.show()
    
    # LOG LOG PLOT
    plt.loglog(means, freqs, ".")
    plt.xlabel("log(k)")
    plt.ylabel("log(frequency)")
    plt.title("Log-log degree distribution for %s" % title)
    plt.show()

In [16]:
df_biz = pd.read_csv('cleaned_csv/restaurants.csv')
df = pd.read_csv('csv_by_year/2017.csv')
df = df.drop('Unnamed: 0', axis=1)
df.head()

,business_id,date,review_id,stars,user_id
0,f5O7v_X_jCg2itqacRfxhg,2017-10-12,kS4hrhEScwB9V5JATYjvVQ,5,hxqo4NyJFfeOmuoVi--s1A
1,0bjFYstj8USMzEV4ZQldjA,2017-01-19,VKGvSe0SmYcFc5PqjbxLDQ,5,eG6HneK9zLcuZpVuKcsCGQ
2,gZGsReG0VeX4uKViHTB9EQ,2017-08-16,51RHs_V_fjuistnuKxNpEg,5,5ngpW5tf3ep680eG1HxHzA
3,-bd4BQcl1ekgo7avaFngIw,2017-06-28,P7kiSTiwzqm0_LbA71EOPg,5,5ngpW5tf3ep680eG1HxHzA
4,u73j2VQ3TGWdMO-AG7MABw,2017-07-06,7EgEjUpcb8q-B5dPCMvkaQ,2,5ngpW5tf3ep680eG1HxHzA

In [17]:
df_biz = df_biz.drop(['Unnamed: 0', 'is_open', 'hours'], axis=1)
df_biz.head()

,business_id,city,latitude,longitude,name,postal_code,review_count,stars,state
0,Apn5Q_b6Nz61Tq4XzPdf9A,Calgary,51.091813,-114.031675,Minhas Micro Brewery,T2E 6L6,24,4.0,AB
1,AjEbIBw6ZFfln7ePHha9PA,Henderson,35.960734,-114.939821,CK'S BBQ & Catering,89002,3,4.5,NV
2,O8S5hYJ1SMc8fA4QBtVujA,Montréal,45.540503,-73.599300,La Bastringue,H2G 1K7,5,4.0,QC
3,45bWSZtniwPRiqlivpS8Og,Phoenix,33.671375,-112.030017,The Coffee Bean & Tea Leaf,85024,63,4.0,AZ
4,9A2quhZLyWk0akUetBd8hQ,Toronto,43.664378,-79.414424,Bnc Cake House,M6G 1K8,7,4.0,ON

In [18]:
len(df_biz)

72665

In [21]:
len(set(df_biz.postal_code))

11774

In [ ]:
graph = nx.Graph()
for b in df_biz.itertuples():
    i = row.business_id
    p = row.postal_code
    graph.add_nodes(i)
    for b2 in df_biz.itertuples():
        
        graph.add_edge()