In [41]:
import pandas as pd
def cleanup(k, dataset, chunk_size):
    dirty_path = 'yelp_dataset/yelp_academic_dataset_%s.json' % dataset
    clean_path = "cleaned/%s%i.json" % (dataset, k)
    dirty_file = open(dirty_path, "r")
    clean_file = open(clean_path, "w")
    
    start = chunk_size * k
    end = chunk_size * (k+1)
    
    content = ''
    i = 0
    for line in dirty_file:
        if i == end:
            break
        elif i >= start:
            s = line.replace('\n', ',\n')
            content += s
        i += 1
    if content:
        payload = '{"data" : \n[%s]}' % (content[:-2] + '\n')
        clean_file.write(payload)
    else:
        print("No more content.")

In [9]:
for k in range(20):
    chunk_size = 100 * 1000
    cleanup(k, 'user', chunk_size)
    print('Iteration', k, 'done')

Iteration 0 done
Iteration 1 done
Iteration 2 done
Iteration 3 done
Iteration 4 done
Iteration 5 done
Iteration 6 done
Iteration 7 done
Iteration 8 done
Iteration 9 done
Iteration 10 done
Iteration 11 done
Iteration 12 done
Iteration 13 done
Iteration 14 done
Iteration 15 done
No more content.
Iteration 16 done
No more content.
Iteration 17 done
No more content.
Iteration 18 done
No more content.
Iteration 19 done

In [14]:
N = 16
df_matrix = [None] * N
for i in range(N):
    path = "cleaned/user%i.json" % i
    df_matrix[i] = pd.DataFrame(list(pd.read_json(path).data))

In [15]:
DF = pd.concat(df_matrix)

In [16]:
len(DF)

1518169

In [42]:
DF.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,2.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Susan,1,0,lzlZwIpuSWXEnNS91wxjHw,2015-09-28
1,5.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Daipayan,2,0,XvLBr-9smbI0m_a7dXtB7w,2015-09-05
2,4.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Andy,1,0,QPT4Ud4H5sJVr68yXhoWFw,2016-07-21
3,4.05,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Jonathan,19,0,i5YitlHZpf0B3R0s_8NVuw,2014-08-04
4,3.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Shashank,3,0,s4FoIXE_LSGviTHBe8dmcg,2017-06-18

In [39]:
reviews = pd.read_csv('toronto/reviews_all_time.csv')

In [43]:
toronto_users = DF[DF.user_id.isin(reviews.user_id)]

In [44]:
toronto_users.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,2.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Susan,1,0,lzlZwIpuSWXEnNS91wxjHw,2015-09-28
21,1.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Ying,1,0,bwPVGW1Mx0qmS_qNQ7xmYg,2012-02-09
64,3.50,0,0,0,0,0,1,0,0,0,...,0,None,0,None,0,Vai,4,0,JcKUiHAQ9cWGSO_qFbzlKw,2009-12-28
68,1.75,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,Walter,4,1,mNzy0-YVTJTP2jqHR7zWwQ,2014-05-31
81,2.00,0,0,0,0,0,0,0,0,0,...,0,None,0,None,0,K,3,0,AAxJbjcq94NaqUJGFE362g,2013-07-08

In [45]:
toronto_users = toronto_users.drop(['compliment_cool', 'compliment_cute',
       'compliment_funny', 'compliment_hot', 'compliment_list',
       'compliment_more', 'compliment_note', 'compliment_photos',
       'compliment_plain', 'compliment_profile', 'compliment_writer', 'cool',
     'funny', 'fans'], axis=1)

In [46]:
toronto_users.head()

,average_stars,elite,friends,name,review_count,useful,user_id,yelping_since
0,2.00,None,None,Susan,1,0,lzlZwIpuSWXEnNS91wxjHw,2015-09-28
21,1.00,None,None,Ying,1,0,bwPVGW1Mx0qmS_qNQ7xmYg,2012-02-09
64,3.50,None,None,Vai,4,0,JcKUiHAQ9cWGSO_qFbzlKw,2009-12-28
68,1.75,None,None,Walter,4,1,mNzy0-YVTJTP2jqHR7zWwQ,2014-05-31
81,2.00,None,None,K,3,0,AAxJbjcq94NaqUJGFE362g,2013-07-08

In [51]:
len(toronto_users[toronto_users.friends != 'None'])

49362

In [53]:
toronto_users.head()

,average_stars,elite,friends,name,review_count,useful,user_id,yelping_since
0,2.00,None,None,Susan,1,0,lzlZwIpuSWXEnNS91wxjHw,2015-09-28
21,1.00,None,None,Ying,1,0,bwPVGW1Mx0qmS_qNQ7xmYg,2012-02-09
64,3.50,None,None,Vai,4,0,JcKUiHAQ9cWGSO_qFbzlKw,2009-12-28
68,1.75,None,None,Walter,4,1,mNzy0-YVTJTP2jqHR7zWwQ,2014-05-31
81,2.00,None,None,K,3,0,AAxJbjcq94NaqUJGFE362g,2013-07-08

In [54]:
toronto_users.to_csv('toronto/toronto_users.csv', index=False)

In [ ]:
DF2017 = DF[('2016-31-12' < DF.date) & (DF.date < '2018-01-01')]

In [18]:
DF2017.to_csv('cleaned_csv/review_2017.csv')

In [19]:
len(DF2017)

1194269

In [10]:
rest = pd.read_csv('cleaned_csv/restaurants.csv')

In [12]:
rest_id = set(rest.business_id)

In [21]:
rest = pd.read_csv('cleaned_csv/restaurants.csv')

In [23]:
rest_ids = list(rest.business_id)

In [38]:
rest_reviews = DF[DF.business_id.isin(rest_ids)]

In [39]:
len(rest_reviews)

4018725

In [46]:
rest_reviews.head()

,business_id,date,review_id,stars,text,user_id
0,iCQpiavjjPzJ5_3gPD5Ebg,2011-02-25,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,msQe1u7Z_XuqjGoqhB0J5g
1,pomGBqfbxcqPv14c3XH-ZQ,2012-11-13,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,2014-10-23,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,msQe1u7Z_XuqjGoqhB0J5g
3,elqbBhBfElMNSrjFqW3now,2011-02-25,Er4NBWCmCD4nM8_p1GRdow,2,Back in 2005-2007 this place was my FAVORITE t...,msQe1u7Z_XuqjGoqhB0J5g
4,Ums3gaP2qM3W1XcA5r6SsQ,2014-09-05,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,msQe1u7Z_XuqjGoqhB0J5g

In [43]:
rest_reviews = rest_reviews.drop(['cool', 'funny', 'useful'], axis=1)

In [45]:
rest_reviews.to_csv('cleaned_csv/rest_reviews.csv')

In [47]:
rest_reviews_no_text = rest_reviews.drop(['text'], axis=1)

In [48]:
rest_reviews_no_text.to_csv('cleaned/rest_reviews_no_test.csv')

In [51]:
rest_reviews_no_text.date.min()

'2004-10-12'

In [52]:
rest_reviews_no_text.date.max()

'2018-07-02'

In [65]:
for year in range(2004, 2019):
    idx = rest_reviews_no_text.date.str[:4] == str(year)
    df_year = rest_reviews_no_text[idx]
    df_year.to_csv('csv_by_year/%i.csv' % year)