In [1]:
import pandas as pd

## Get all restaurants in Toronto (CA)

In [13]:
biz = pd.read_csv('cleaned_csv/restaurants.csv').drop(['is_open', 'hours', 'Unnamed: 0'], axis=1)

In [15]:
biz.city = biz.city.str.lower()
biz.head()

,business_id,city,latitude,longitude,name,postal_code,review_count,stars,state
0,Apn5Q_b6Nz61Tq4XzPdf9A,calgary,51.091813,-114.031675,Minhas Micro Brewery,T2E 6L6,24,4.0,AB
1,AjEbIBw6ZFfln7ePHha9PA,henderson,35.960734,-114.939821,CK'S BBQ & Catering,89002,3,4.5,NV
2,O8S5hYJ1SMc8fA4QBtVujA,montréal,45.540503,-73.599300,La Bastringue,H2G 1K7,5,4.0,QC
3,45bWSZtniwPRiqlivpS8Og,phoenix,33.671375,-112.030017,The Coffee Bean & Tea Leaf,85024,63,4.0,AZ
4,9A2quhZLyWk0akUetBd8hQ,toronto,43.664378,-79.414424,Bnc Cake House,M6G 1K8,7,4.0,ON

In [ ]:
biz.city = biz.city.str.lower()
biz_toronto = biz[biz.city == 'toronto']

In [22]:
biz_toronto = biz[biz.city == 'toronto']
print("Rstaurants in Toronto: ", biz_toronto.shape[0])

Rstaurants in Toronto:  9678

In [18]:
biz_toronto.to_csv('toronto/restaurants_toronto.csv', index=False)

## Get all reviews from Toronto

In [2]:
for k in range(20):
    chunk_size = 100 * 1000
    cleanup(k, chunk_size)
    print('Iteration', k, 'done')

In [3]:
DF = pd.concat(df_list)

In [5]:
len(DF)

5996996

In [19]:
toronto_reviews = DF[DF.business_id.isin(biz_toronto.business_id)]

In [23]:
print("Reviews from Toronto: ", toronto_reviews.shape[0])

Reviews from Toronto:  379875

In [9]:
toronto_reviews.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
134,sscP36MO34i5ep4QO8c7KA,1,2012-01-28,0,dp6rinVjRXYaAABTU6BYsA,3,Sometimes I ride the 501 streetcar just for so...,1,YHWsLBS8jzZiPjKHMFOaAA
139,BmgfYQ3tpRKnT9H9WvjL_g,2,2011-02-23,1,BqMTHIJ_S5aT3Mt1fWT_pg,3,"As I'm writing this, I already know a lot of p...",7,YHWsLBS8jzZiPjKHMFOaAA
156,HX0QhTVWztcawNof0KUhgQ,3,2011-04-17,1,kUgUo3SfZDj_XwAECQtkjQ,3,"Despite it's seemingly religious name, this Bl...",5,YHWsLBS8jzZiPjKHMFOaAA
324,WYG7xp_UO12qf5_qRLBQHw,1,2010-10-24,1,xjUv6EeU_6wRbfmoW_oxoA,3,Since this place is one of the Indie Coffee Pa...,1,YgavGxfAdjhkkbwlAY_9ZQ
327,nhfZW6Pi-oLQuhYcrcZJWw,4,2010-10-05,0,sQlDlTNl8qSciIUQOzFdUw,5,I ordered a soy latte and it was PERFECT. Just...,2,YgavGxfAdjhkkbwlAY_9ZQ

In [25]:
min(toronto_reviews.date)

'2008-01-03'

In [24]:
toronto_reviews.to_csv('toronto/reviews_all_time.csv', index=False)

## Get all users contributing to the Toronto reviews

In [26]:
N = 16
df_matrix = [None] * N
for i in range(N):
    path = "cleaned/user%i.json" % i
    df_matrix[i] = pd.DataFrame(list(pd.read_json(path).data))

In [27]:
ALL_USERS = pd.concat(df_matrix)

In [28]:
toronto_users = ALL_USERS[ALL_USERS.user_id.isin(toronto_reviews.user_id)]

In [29]:
toronto_users.to_csv('toronto/toronto_users.csv', index=False)

In [37]:
toronto_reviews.iloc[:95000].to_csv('toronto/toronto_reviews_1.csv')
toronto_reviews.iloc[95000:95000*2].to_csv('toronto/toronto_reviews_2.csv')
toronto_reviews.iloc[95000*2:95000*3].to_csv('toronto/toronto_reviews_3.csv')
toronto_reviews.iloc[95000*3:95000*4].to_csv('toronto/toronto_reviews_4.csv')