In [2]:
import pandas as pd

In [4]:
def cleanup(k):
    dirty_path = 'yelp_dataset/yelp_academic_dataset_user.json'
    clean_path = "cleaned/user%i.json" % k
    dirty_file = open(dirty_path, "r")
    clean_file = open(clean_path, "w")
    
    start = 1000000 * k
    end = 1000000 * (k+1)
    
    content = ''
    i = 0
    for line in dirty_file:
        if i == end:
            break
        elif i >= start:
            s = line.replace('\n', ',\n')
            content += s
        i += 1
    payload = '{"data" : \n[%s]}' % (content[:-2] + '\n')
    clean_file.write(payload)

In [13]:
for k in range(6):
    cleanup(k)
    print('Iteration', k, 'done')

df0 = pd.DataFrame(list(pd.read_json('cleaned/review0.json').data))
df1 = pd.DataFrame(list(pd.read_json('cleaned/review1.json').data))
df2 = pd.DataFrame(list(pd.read_json('cleaned/review2.json').data))
df3 = pd.DataFrame(list(pd.read_json('cleaned/review3.json').data))
df4 = pd.DataFrame(list(pd.read_json('cleaned/review4.json').data))
df5 = pd.DataFrame(list(pd.read_json('cleaned/review5.json').data))

DF = pd.concat([df0, df1, df2, df3, df4, df5])

In [15]:
len(DF)

5996996

In [17]:
DF2017 = DF[('2016-31-12' < DF.date) & (DF.date < '2018-01-01')]

In [18]:
DF2017.to_csv('cleaned_csv/review_2017.csv')

In [19]:
len(DF2017)

1194269

In [10]:
rest = pd.read_csv('cleaned_csv/restaurants.csv')

In [12]:
rest_id = set(rest.business_id)

In [21]:
rest = pd.read_csv('cleaned_csv/restaurants.csv')

In [23]:
rest_ids = list(rest.business_id)

In [38]:
rest_reviews = DF[DF.business_id.isin(rest_ids)]

In [39]:
len(rest_reviews)

4018725

In [46]:
rest_reviews.head()

,business_id,date,review_id,stars,text,user_id
0,iCQpiavjjPzJ5_3gPD5Ebg,2011-02-25,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,msQe1u7Z_XuqjGoqhB0J5g
1,pomGBqfbxcqPv14c3XH-ZQ,2012-11-13,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,2014-10-23,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,msQe1u7Z_XuqjGoqhB0J5g
3,elqbBhBfElMNSrjFqW3now,2011-02-25,Er4NBWCmCD4nM8_p1GRdow,2,Back in 2005-2007 this place was my FAVORITE t...,msQe1u7Z_XuqjGoqhB0J5g
4,Ums3gaP2qM3W1XcA5r6SsQ,2014-09-05,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,msQe1u7Z_XuqjGoqhB0J5g

In [43]:
rest_reviews = rest_reviews.drop(['cool', 'funny', 'useful'], axis=1)

In [45]:
rest_reviews.to_csv('cleaned_csv/rest_reviews.csv')

In [47]:
rest_reviews_no_text = rest_reviews.drop(['text'], axis=1)

In [48]:
rest_reviews_no_text.to_csv('cleaned/rest_reviews_no_test.csv')

In [51]:
rest_reviews_no_text.date.min()

'2004-10-12'

In [52]:
rest_reviews_no_text.date.max()

'2018-07-02'

In [65]:
for year in range(2004, 2019):
    idx = rest_reviews_no_text.date.str[:4] == str(year)
    df_year = rest_reviews_no_text[idx]
    df_year.to_csv('csv_by_year/%i.csv' % year)